/* .light{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 10px auto;
    border-radius: 50%;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
} */