.div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px auto;
    
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}